*{
    margin: 0;
    padding: 0;
    color:black;
    font-family: sans-serif;
    letter-spacing: 1px; 
    font-weight: 300;
    /* overflow-x: hidden;     */
    }
    body{
    overflow-x: hidden;

    }
    header{
        height:100vh;
        width:100vw;
        /* background-image: url('../images/bck3.jpg'); */
        /* background: linear-gradient(rgba(142, 19, 235, 0.9), rgba(0, 0, 0, 0.2) ),url("../images/bck1.jpg"); */
        /* background:linear-gradient(rgba(16, 12, 241, 0.9), rgba(201, 10, 248, 0.2) ) ; */
        /* background-image: linear-gradient(-90deg, red, yellow); */
        background-image: url('../images/Liquid-Cheese.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav{
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    }
    nav.alt{
        background-color: #ffb800;
        height:12vh;
        z-index: 100;
    }
    .logo{
    padding:1vh 1vw;
    text-align: center;
    }
    .logo a{
        font-size: 30px;
        font-weight: 900;
        text-decoration: none;
    }
    .nav-links{
    display: flex;
    list-style: none;
    padding: 0 0.8vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-left: 20vw;
    }
    .nav-links li a{
    text-decoration: none;
    margin: 0 1vw;
    font-weight: 900;
    }
    .nav-links li a:hover {
    color: #61DAFB;
    }
    .nav-links li {
    position: relative;
    }
    .hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
    }
    .hamburger{
    display: none;
    }
    .wrap1{
        display: flex;
    }
    .content{
        font-size: 30px;
        padding-left: 5vw;
        padding-top: 30vh;
    }
    .content h1{
        font-size: 5vw;
    }
    .social-links ul{
        display:flex;
    }
    .social-links ul li{
        list-style: none;
    }
    .social-links ul li a img{
        height:30px;
        width:30px;
        padding:10px;
    }
    .social-links ul li a img:hover{
        transform: scale(1.5);
        /* border:black solid 1px; */
        transition: 1s;
    }
    .wave{
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    display: inline-block;
    }

    
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

        
    #staticText{
        font-size: 2rem;
        line-height: 1;
        font-family: 'HelveticaNeue';
        font-weight: 100;
        /* position: fixed; */
    }
    
    
    #typeline {
        font-size: 2rem;
        line-height: 1.2;
        color: darkblue;
    text-align:center;
    
    }
    
    @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
    em {
        border-right: .1em solid black;
        width: 20ch;
        white-space: nowrap;
        overflow: hidden;
            margin-top: 0;
            color: #3295dd;
        -webkit-animation: typing 3s steps(21, end),
        blink-caret .5s step-end infinite alternate;
    }
    .wrap1-image{
        height:70vh;
        width:40vw;
        padding:5vw;
    }
    
    .heading{

        padding:5vh;
    }
    .heading p{
        font-size: 40px;
        text-align: center;
        margin: auto;
    }
    .heading p:hover{
        color:lightskyblue;
        text-decoration: underline;
        transition:0.2s;
    }

    .skills{
        display: flex;
        padding:2vh 20vw;
        justify-content: space-evenly;
    }
    .skillcard1{
        height:50vh;
        width:25vw;
        border:lightskyblue solid 1px;
        border-radius: 5px;
        border-bottom: lightskyblue solid 20px;
        border-top: lightskyblue solid 20px;
    }
    .skillcard1 img{
        height:40px;
        width:40px;
    }
    .skillcard1 img:hover{
        transform: scale(1.2);
        transition: 1s;
    }
    .skillcard2{
        height:50vh;
        width:25vw;
        border:lightskyblue solid 1px;
        border-radius: 5px;
        border-bottom: lightskyblue solid 20px;
        border-top: lightskyblue solid 20px;
    }
    .skillcard2 img{
        height:40px;
        width:40px;
    }
    .skillcard2 img:hover{
        transform: scale(1.2);
        transition: 1s;
    }
    .heading1{
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        padding:5vh 0;
    }
    .card-flex{
        display: flex;
        justify-content: space-evenly;
    }

    .coding-cards{
        display:flex;
        justify-content: space-evenly;
    }
    .codingcard{
        height:50vh;
        width:25vw;
        border:lightskyblue solid 1px;
        border-radius: 5px;
        border-bottom: lightskyblue solid 20px;
        border-top: lightskyblue solid 20px;
    }
    .codingHeading{
        text-align: center;
        font-size: 30px;
        font-family: 500;
        padding:2vh;
    }
    .codingHeading img{
        height:35px;
        width:35px;
        vertical-align: middle;
    }
    .codingid{
        font-family: 400;
        padding:1vh;
    }
    .codingid a{
        color:red;
        text-decoration: none;
    }
    .codingtext{
        padding:0vh 5vh;
    }
    .codingtext ul{
        line-height: 1.5rem;;
    }

    .webD{
        font-size: 28px;
        font-weight: 600;
        padding:5vh;
    }
    .project{
        display:flex;
        margin:5vh 10vw;
        border:lightskyblue solid 2px;
        border-radius: 15px;
        background-color: lightblue;
        padding:0 2vw;

    }
    .projectheading{
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
        padding:3vh 0;
    }
    .projectcontent{
        line-height: 1.5rem;
        font-size: 20px;
        padding:10px;
    }
    .projectimage img{
        height:40vh;
        width:40vw;
        padding:3vw;
    }
    .project-link{
        display:flex;
        justify-content: space-evenly;
    }

    button{
        padding:10px;
        font-size: 20px;
        background-color:lightskyblue;
        min-width: 200px;;
    }
    button:hover{
        background-color: mediumpurple;
        color:white;
        font-weight: 700;
    }
    .content2{
        padding:0 10vw;
        font-size: 25px;;
    }
    .bkg1{
        height:50vh;
        width:100vw;
        background-image: url('../images/Liquid-Cheese\ \(2\).svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bkgx{
        
        height:50vh;
        width:100vw;
        background-image: url('../images/Liquid-Cheese.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    footer{
        height:5vh;
        width:100vw;
        background-color: mediumslateblue;

    }
    .footer_text{
        padding:1vh;
        text-align: center;
        background-color: mediumslateblue;
        color:white;
        font-weight: 700;
    }

    .linking{
        justify-content: center;
        margin-bottom: 10px;
    }
    .linking li:hover{
        transform: scale(1);
    }
    
    .short{

        padding:5vh;
    }
    .short p{
        font-size: 40px;
        text-align: center;
        margin: auto;
    }
    .short p:hover{
        color:lightskyblue;
        text-decoration: underline;
        transition:0.2s;
    }

    
    
    
      /* ================ The Timeline ================ */
      
      .timeline {
        position: relative;
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 0;
        list-style-type: none;
      }
      
      .timeline:before {
        position: absolute;
        left: 50%;
        top: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        margin-left: -3px;
        background: rgb(80,80,80);
        background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
        background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        
        z-index: 5;
      }
      
      .timeline li {
        padding: 1em 0;
        font-size: 16px;;
      }
      
      .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      
      .direction-l {
        position: relative;
        width: 300px;
        float: left;
        text-align: right;
      }
      
      .direction-r {
        position: relative;
        width: 300px;
        float: right;
      }
      
      .flag-wrapper {
        position: relative;
        display: inline-block;
        line-height: 3rem;;
        text-align: center;
      }
      
      .flag {
        display: inline;
        background: rgb(248,248,248);
        padding: 6px 10px;
        border-radius: 5px;
        
        font-weight: 600;
        text-align: left;
      }
      
      .direction-l .flag {
        -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      }
      
      .direction-r .flag {
        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      }
      
      .direction-l .flag:before,
      .direction-r .flag:before {
        position: absolute;
        top: 50%;
        right: -40px;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-top: -10px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255,80,80);
        z-index: 10;
      }
      
      .direction-r .flag:before {
        left: -40px;
      }
      
      .direction-l .flag:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(248,248,248);
        border-width: 8px;
        pointer-events: none;
      }
      
      .direction-r .flag:after {
        content: "";
        position: absolute;
        right: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(248,248,248);
        border-width: 8px;
        pointer-events: none;
      }
      
      .time-wrapper {
        display: inline;

        line-height: 1em;
        font-size: 0.66666em;
        color: rgb(250,80,80);
        vertical-align: middle;
      }
      
      .direction-l .time-wrapper {
        float: left;
      }
      
      .direction-r .time-wrapper {
        float: right;
      }
      
      .time {
        display: inline-block;
        padding: 4px 6px;
        background: rgb(248,248,248);
      }
      
      .desc {
        margin: 1em 0.75em 0 0;
        
        font-size: 0.77777em;
        font-style: italic;
        line-height: 1.5em;
      }
      .desc b{
          font-weight: 900;
      }
      
      .direction-r .desc {
        margin: 1em 0 0 0.75em;
      }

      
      @media screen and (max-width: 660px) {
      
      .timeline {
           width: 100%;
          padding: 4em 0 1em 0;
      }
      
      .timeline li {
          padding: 2em 0;
      }
      
      .direction-l,
      .direction-r {
          float: none;
          width: 100%;
      
          text-align: center;
      }
      
      .flag-wrapper {
          text-align: center;
      }
      
      .flag {
          background: rgb(255,255,255);
          z-index: 15;
      }
      
      .direction-l .flag:before,
      .direction-r .flag:before {
        position: absolute;
        top: -30px;
          left: 50%;
          content: ' ';
          display: block;
          width: 12px;
          height: 12px;
          margin-left: -9px;
          background: #fff;
          border-radius: 10px;
          border: 4px solid rgb(255,80,80);
          z-index: 10;
      }
      
      .direction-l .flag:after,
      .direction-r .flag:after {
          content: "";
          position: absolute;
          left: 50%;
          top: -8px;
          height: 0;
          width: 0;
          margin-left: -8px;
          border: solid transparent;
          border-bottom-color: rgb(255,255,255);
          border-width: 8px;
          pointer-events: none;
      }
      
      .time-wrapper {
          display: block;
          position: relative;
          margin: 4px 0 0 0;
          z-index: 14;
      }
      
      .direction-l .time-wrapper {
          float: none;
      }
      
      .direction-r .time-wrapper {
          float: none;
      }
      
      .desc {
          position: relative;
          margin: 1em 0 0 0;
          padding: 1em;
          background: rgb(245,245,245);
          -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
          -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
          box-shadow: 0 0 1px rgba(0,0,0,0.20);
          
        z-index: 15;
      }
      
      .direction-l .desc,
      .direction-r .desc {
          position: relative;
          margin: 1em 1em 0 1em;
          padding: 1em;
          
        z-index: 15;
      }
      
      }
      



      @media screen and (min-width: 400px ?? max-width: 660px) {
      
      .direction-l .desc,
      .direction-r .desc {
          margin: 1em 4em 0 4em;
      }
      
      }






















      


    @media screen and (max-width: 800px){

        body{
            overflow-x: hidden;
        }
        .logo img{
            width:20vw;
        }
        nav{
        position: fixed;
        z-index: 3;
        }
        .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
        color:black;
        }
        .hamburger div{
            background-color: teal;
        }
        .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        color:white;
        }
        .nav-links li a{
            color:white;
        }
        .nav-links.open{
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
        overflow-x: visible;
        }
        .landing{
        flex-direction: column;
        }
        .nav-links li{
        opacity: 0;
        }
        .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
        }
        .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
        display: block;
        }
        .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
        }
        .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
        }
        .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
        }
        li.fade{
        opacity: 1;
        }
 
          
        
        .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
        }
        .toggle .line2{
        transition: all 0.7s ease;
        width:0;
        }
        .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
        }

        .wrap1{
            display:block;
        }
        .content{
            margin:auto;
            padding:auto;
        }
        .content h1{
            font-size: 10vw;
        }
        #staticText{
            font-size: 7vw;
        }
        
        
        #typeline {
            font-size: 7vw;
        }

        .wrap1-image{
            height:40vh;
            width:100vw;
            padding:0;
        }
        .wrap1-image img{
            height:40vh;
            width:80vw;
        }

        .skills{
            display:block;
            padding:2vh 5vw;
        }
        .skillcard1{
            width:80vw;
            height:60vh;
            margin: 2vh;
        }
        .skillcard2{
            width:80vw;
            margin: 2vh;
            height:60vh;

        }
        .coding-cards{
            display:block;
        }
        .codingcard{
            height:50vh;
            width:80vw;
            padding:2vw;
            border:lightskyblue solid 1px;
            border-radius: 5px;
            border-bottom: lightskyblue solid 20px;
            border-top: lightskyblue solid 20px;
            margin: auto;
        }

        .project{
            display:block;
        }
        .projectimage img{
            width:70vw;
        }
        button{
            min-width: 100px;
        }
        .content2{
            font-size: 20px;
        }

        .bkg1{
            height:100vh;
        }
        .bkgx{
            height:100vh;
        }




    }